.App {
  text-align: center; 
}

body {
  background-color: #2F3544 !important; 
}

.input-group {
  width: 70% !important; 
}

.card {
  max-width: 80%; 
  margin-left: 10%; 
  
}

.card-title {
  position: absolute;
  padding: 20px;

}

.card-date {
  position: absolute;
  padding-left: 20px;
  margin-top: 60px;

}

.card-temp {
  position: absolute;
  padding-left: 20px;
  margin-top: 260px;
  font-size: 50px;

}

.card-desc {
  position: absolute;
  padding-left: 20px;
  margin-top: 320px; 
}